.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left p,
.fighter-preview___right p {
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(177, 73, 55);
}